.modal-delete {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.39);
    padding: 20px;
    font-size: 1.2rem;

    opacity: 0;
    animation: fadeIn .2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Começa invisível */
        transform: translate(-50%, -60%); /* Começa um pouco acima */
    }
    100% {
        opacity: 1; /* Torna-se totalmente visível */
        transform: translate(-50%, -50%); /* Chega na posição final */
    }
}

.modal-delete .yes-btn{
    margin-right: 1rem;
}