.table-container {
    margin-top: 3rem;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    background-color: rgb(87, 87, 255);
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.actions button{
    margin-left: 5px;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
}

.actions button:hover {
    opacity: .8;
}

.edit-btn {
    background-color: rgb(87, 87, 255);
}

.delete-btn {
    background-color: rgb(248, 31, 31);
}